.menu-button__container {
  width: 320px;
  height: 46px;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
}

.menu-button__container--bgcolor--normal {
  background-color: white;
}

.menu-button__container--bgcolor--active {
  background-color: #d9e8ff;
}

.menu-button__icon--normal {
  color: #747474;
}

.menu-button__icon--active {
  color: #37609d;
}

.menu-button__title {
  font-family: Roboto;
  font-size: 16px;
  padding-left: 36px;
}

.menu-button__title--color--normal {
  color: #1d1d1d;
}

.menu-button__title--color--active {
  color: #5073aa;
}

.menu-button__counter {
  font-family: Roboto;
  font-size: 16px;
  margin-left: auto;
}

.menu-button__counter--color--normal {
  color: #1d1d1d;
}

.menu-button__counter--color--active {
  color: #5073aa;
}
