.navbookmarks-box {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.navbookmarks-box p {
  margin-left: 8px;
  font-size: 16px;
  color: #fff;
}

.navbookmarks-icon {
  color:#fff;
}
