.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-row {
  display: flex;
  flex-direction: row;
  position: sticky;
}

.main-row {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
}
